{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Ciyatrip - Tour & Travel Hotel Booking HTML Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ciyatrip - Tour & Travel Hotel Booking HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate/animate.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/swiper/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/datetimepicker/datetimepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/range-slider/ion.rangeSlider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select2/select2.css' %}" />
    <!-- Template Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  </head>
  <body>
    <!--=================================
    Header -->
    <header class="header header-3 header-sticky default">
      <div class="topbar d-none d-md-block">
        <div class="container-fluid">
          <div class="topbar-inner">
            <div class="row">
              <div class="col-12">
                <div class="d-lg-flex align-items-center text-center">
                  <div class="topbar-left mb-2 mb-lg-0">
                    <div class="topbar-call d-inline-flex">
                      <a href="mailto:info@example.com"><img src="{% static 'images/phone.svg'%}" alt=""> Call Services  +126-632-2345</a>
                    </div>
                    <div class="me-auto d-inline-flex">
                      <a href="tel:1-800-555-1234"><i class="fa-solid fa-location-dot me-2"></i>220E Front St. Burlington NC 27215</a>
                    </div>
                  </div>
                  <div class="topbar-right ms-auto justify-content-center">
                    <div class="social d-inline-flex">
                      <ul class="list-unstyled">
                        <li><a href="#"> <i class="fa-brands fa-facebook-f"></i> </a></li>
                        <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
                        <li><a href="#"> <i class="fa-brands fa-linkedin"></i> </a></li>
                        <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
                      </ul>
                    </div>
                    <!--<div class="dropdown d-inline-flex ps-4">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        USD<i class="fas fa-chevron-down fa-xs"></i>
                      </a>
                      <div class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-dollar-sign"></i> USD</a>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-indian-rupee-sign"></i> INR</a>
                        <a class="dropdown-item" href="#"><i class="fa-solid fa-euro-sign"></i> EURO</a>
                      </div>
                    </div>
                    <div class="dropdown right-menu d-inline-flex ps-4">
                      <a class="dropdown-toggle" href="#" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="img-fluid" src="images/en.png" alt=""> English<i class="fas fa-chevron-down fa-xs"></i>
                      </a>
                      <div class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" href="#"><img class="img-fluid country-flag" src="images/country-flags/02.jpg" alt="">English</a>
                        <a class="dropdown-item" href="#"><img class="img-fluid country-flag" src="images/country-flags/09.jpg" alt="">Francais</a>
                        <a class="dropdown-item" href="#"><img class="img-fluid country-flag" src="images/country-flags/11.jpg" alt="">Deutsch</a>
                        <a class="dropdown-item" href="#"><img class="img-fluid country-flag" src="images/country-flags/12.jpg" alt="">Italiano</a>
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-static-top navbar-expand-lg">
        <div class="container-fluid main-header position-relative">
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
          <a class="navbar-brand" href="home">
            <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="logo">
          </a>
          <div class="navbar-collapse collapse justify-content-end justify-content-lg-center">
            <ul class="nav navbar-nav">
              
              <li class="nav-item dropdown active">
                <a class="nav-link" href="home" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  li><a class="dropdown-item" href="index.html"><span>Home 01</span></a></li>
                  <li><a class="dropdown-item" href="index-02.html"><span>Home 02</span></a></li>
                  <li class="active"><a class="dropdown-item" href="home"><span>Home</span></a></li>
                  <li><a class="dropdown-item" href="index-04.html"><span>Home 04</span></a></li>
                </ul>-->
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link" href="about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link" href="booking" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Booking</a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link" href="packages" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Package</a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link" href="blog" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
              </li>                 
              <!--<li class="dropdown nav-item mega-menu">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Pages<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-sm-6 col-lg-4">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Pages</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="about-us.html"><span>About Us</span></a></li>
                          <li><a class="dropdown-submenu" href="team.html"><span>Team</span></a></li>
                          <li><a class="dropdown-submenu" href="team-detail.html"><span>Team Details</span></a></li>
                          <li><a class="dropdown-submenu" href="booking.html"><span>Booking</span></a></li>
                          <li><a class="dropdown-submenu" href="contact-us.html"><span>Contact us</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-4 mt-3 mt-sm-0">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Pages</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="pricing-plan.html"><span>Pricing Plan</span></a></li>
                          <li><a class="dropdown-submenu" href="faq.html"><span>Faq</span></a></li>
                          <li><a class="dropdown-submenu" href="coming-soon.html"><span>Coming Soon</span></a></li>
                          <li><a class="dropdown-submenu" href="404-error.html"><span>Error 404</span></a></li>
                          <li><a class="dropdown-submenu" href="no-result-found.html"><span>No Result Found</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-4">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Authentication</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="sign-in.html"><span>Sign In</span></a></li>
                          <li><a class="dropdown-submenu" href="sign-up.html"><span>Sign Up</span></a></li>
                          <li><a class="dropdown-submenu" href="privacy-policy.html"><span>Privacy policy</span></a></li>
                          <li><a class="dropdown-submenu" href="terms-and-conditions.html"><span>Terms And Conditions</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>-->
              <!--<li class="dropdown nav-item mega-menu">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Portfolio<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu megamenu">
                  <li>
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Portfolio Style</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-agency.html"><span>Portfolio Agency</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-fancy.html"><span>Portfolio Fancy</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-morden.html"><span>Portfolio Morden</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-gallery-lightbox.html"><span>Photo Gallery</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-3 mt-3 mt-sm-0">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Portfolio Columns</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-2-columns.html"><span>Portfolio 2 Columns</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-3-columns.html"><span>Portfolio 3 Columns</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-4-columns.html"><span>Portfolio 4 Columns</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-5-columns.html"><span>Portfolio 5 Columns</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Portfolio Masonry</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-2-masonry.html"><span>Portfolio 2 Masonry</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-3-masonry.html"><span>Portfolio 3 Masonry</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-4-masonry.html"><span>Portfolio 4 Masonry</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-5-masonry.html"><span>Portfolio 5 Masonry</span></a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <span class="mb-3 nav-title mt-0 fs-6 fw-600"> Portfolio Single</span>
                        <ul class="list-unstyled mt-lg-3">
                          <li><a class="dropdown-submenu" href="portfolio-single-01.html"><span>Portfolio Single 01</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-single-02.html"><span>Portfolio Single 02</span></a></li>
                          <li><a class="dropdown-submenu" href="portfolio-single-03.html"><span>Portfolio Single 03</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>-->
              <!--<li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Destination<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="destination.html"><span>Destination</span></a></li>
                  <li><a class="dropdown-item" href="destinations-details.html"><span>Destinations Details</span></a></li>
                </ul>
              </li>-->
              <!--<li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Tour<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="tour-search.html"><span>Tour Search</span></a></li>
                  <li><a class="dropdown-item" href="tour-list.html"><span>Tour List</span></a></li>
                  <li><a class="dropdown-item" href="tour-grid.html"><span>Tour Grid</span></a></li>
                  <li><a class="dropdown-item" href="tour-detail.html"><span>Tour Details</span></a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Blog<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="blog-standard.html"><span>Blog Standard</span></a></li>
                  <li><a class="dropdown-item" href="blog-single.html"><span>Blog Single</span></a></li>
                </ul>
              </li>-->
              <!--<li class="dropdown nav-item">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Shop<i class="fas fa-chevron-down fa-xs"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="shop.html"><span>Shop</span></a></li>
                  <li><a class="dropdown-item" href="shop-list.html"><span>Shop List</span></a></li>
                  <li><a class="dropdown-item" href="shop-single.html"><span>Shop Single</span></a></li>
                  <li><a class="dropdown-item" href="shop-cart.html"><span>Shop Cart</span></a></li>
                  <li><a class="dropdown-item" href="shop-checkout.html"><span>Shop Checkout</span></a></li>
                </ul>
              </li>-->
            </ul>
          </div>
          <div class="add-listing">
            <div class="woo-action">
              <ul class="list-unstyled">
                <li class="cart dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="cart-icon"><object type="image/svg+xml" data="{% static 'images/cart.svg'%}" class="icon"></object></span>
                  <span class="cart-count">0</span></button>
                  <div class="dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <!--<ul class="cart-list ps-0">
                      <li class="d-flex">
                        <a class="remove-item" href="#"><i class="fas fa-times"></i></a>
                        <img class="img-fluid me-3" src="images/product/01.jpg" alt="">
                        <div class="cart-info">
                          <a href="#">Extra Fine Wool Jumpers</a>
                          <span class="d-block">1 x 12.49</span>
                        </div>
                      </li>
                      <li class="d-flex">
                        <a class="remove-item" href="#"><i class="fas fa-times"></i></a>
                        <img class="img-fluid me-3" src="images/product/02.jpg" alt="">
                        <div class="cart-info">
                          <a href="#"> Men’s Standard Fit Crew T-Shirt</a>
                          <span class="d-block">1 x 28.72</span>
                        </div>
                      </li>
                    </ul>-->
                    <div class="cart-footer">
                      <div class="d-flex mb-3">
                        <b class="me-auto text-dark">Subtotal:</b>
                        <span>$0</span>
                      </div>
                      <div class="d-inline-block d-sm-flex">
                        <a class="col btn btn-secondary btn-sm me-2 px-4" href="#">View Cart</a>
                        <a class="col btn btn-sm btn-primary ms-0 mt-1 mt-sm-0 ms-sm-2 px-4" href="#">Checkout</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="nav-item header-search">
              <!--<div class="search">
                <ul class="list-unstyled mb-0">
                  <li class="dropdown nav-item header-search search-icon">
                    <a href="#search">
                      <svg version="1.1" id="Capa_1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 487.95 487.95" style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1
                              c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4
                              c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z"/>
                            </g>
                          </g>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>-->
              <a href="booking.html" class="btn btn-primary menu-btn ms-4 d-none d-xl-block">Book Now</a>
            </div>
          </div>
        </nav>
      </header>
      <!--=================================
      Header -->
      <!--=================================
      Search -->
      <div id="search">
        <button type="button" class="close">×</button>
        <form>
          <input type="search" value="" placeholder="type keyword(s) here" />
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
      <!--=================================
      Search -->
      <!--=================================
      banner -->
      <section class="banner banner-3 bg-holder" style="background-image: url({% static 'images/banner/home-3/01.png'%});">
        <div class="shape bg-holder" style="background-image: url(images/banner/home-3/01.svg);"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-10 col-md-11">
              {% for header in headers %}
                {{header.Title|safe }}
                {{header.Details|safe }}
              {% endfor %}
            </div>
          </div>
          <!-- <div class="row justify-content-center">
            <div class="col-lg-12">
              <form class="home-search">
                <div class="row g-0 mt-4">
                  <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                    <div class="destination-find-area">
                      <div class="select-border select-fast">
                        <select class="form-control basic-select">
                          <option value="1" selected="selected">Destination</option>
                          <option value="3">Italy</option>
                          <option value="4">Germany</option>
                          <option value="2">France</option>
                          <option value="4">India</option>
                          <option value="5">Bresil</option>
                          <option value="6">Australia</option>
                        </select>
                      </div>
                      <div class="form-location datetimepickers">
                        <div class="input-group date " id="datetimepicker-01" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input border-right-0" placeholder="Depart Date" data-target="#datetimepicker-01">
                          <div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                            <div class="input-group-text h-100"><i class="far fa-calendar-alt"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="select-border select-secon">
                        <select class="form-control basic-select">
                          <option value="1" selected="selected">Travel Type</option>
                          <option value="3">Adventure Travel</option>
                          <option value="4">Luxury Travel</option>
                          <option value="2">Family Travel</option>
                          <option value="4">Solo Travel</option>
                          <option value="5">Family Travel</option>
                          <option value="6">Travel With Friends</option>
                        </select>
                      </div>
                      <div class="form-btn-are">
                        <a class="btn btn-primary" href="#"> <i class="fas fa-search-location me-2"></i> Find Now </a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>-->
          <!--<div class="flags mt-4">
            <ul class="list-unstyled mb-0 me-3">
              <li><a href="#"><img src="images/country-flags/02.jpg" alt="#"> </a></li>
              <li><a href="#"><img src="images/country-flags/03.jpg" alt="#"> </a></li>
              <li><a href="#"><img src="images/country-flags/04.jpg" alt="#"> </a></li>
              <li><a href="#"><img src="images/country-flags/05.jpg" alt="#"> </a></li>
              <li><a href="#"><img src="images/country-flags/06.jpg" alt="#"> </a></li>
            </ul>
            <p class="mb-0 small">Top Search Location  London, USA, India, Rio, Tokyo</p>
          </div>-->
        </div>
      </section>
      <!--=================================
      banner -->
      <!--=================================
      Tour Grid -->
      <section class="space-ptb bg-holder " style="background-image: url({% static './images/bg/map-bg.png'%});">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
              <div class="section-title">
                <div class="sub-title"><img  class="img-fluid" src="{% static 'images/title-icon.png'%}" alt="#"><span>Packages</span></div>
                <h2 class="title mb-0"> The Smiling <strong>Agent For Travel</strong></h2>
              </div>
            </div>
            <div class="col-lg-6 align-self-end">
              <nav class="nav-tab">
                <div class="nav nav-tabs justify-content-lg-end" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one" role="tab" aria-controls="nav-one" aria-selected="true">All </a>
                  <a class="nav-item nav-link" id="nav-tow-tab" data-bs-toggle="tab" href="#nav-tow" role="tab" aria-controls="nav-tow" aria-selected="false"> One Night Two Days </a>
                  <a class="nav-item nav-link" id="nav-three-tab" data-bs-toggle="tab" href="#nav-three" role="tab" aria-controls="nav-three" aria-selected="false">Two Night Two Days</a>
                </div>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="tab-content mt-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                  <div class="row">
                    {% for Package in packages %}
                    <div class="col-lg-4 col-md-6 mb-4 ">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="{{Package.main_image.url}}" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">{{Package.pname}}</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="{% static 'images/country-flags/06.jpg'%}" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"> 
                            <i class="fa fa-location-dot"></i>
                            {{Package.pdestination}} 
                          </a>
                          <br>
                            <i class="fa fa-hand-o-right"></i>
                            {{Package.ptype}}
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <!--<div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span>{{Package.ptype}}</span>
                              </div>-->
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">Rs{{Package.amount}}</span>Rs.{{Package.offer_amount}}
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="{% static 'images/listing-brand/01.png'%}" alt="">
                            <p class="mb-0">{{Package.pdetail}}</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="col-lg-4 col-md-6 mb-4 ">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/02.jpg" alt="#">
                          <div class="listing-favourite listing-like">
                            <i class="fa-solid fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">United Kingdom</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/02.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i>19 The Lindens,Grantham,England United Kingdom</a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$550
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/02.png" alt="">
                            <p class="mb-0">The bottom line is that we must shed the bad and replace with good beliefs.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 ">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/03.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Rio</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/03.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i>Rua americo Piola,13- Horto Santo Antonio,Rio de Janeiro SP Brasil</a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">$399</span>$350
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/03.png" alt="">
                            <p class="mb-0">The price is something not necessarily defined as financial.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/04.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Marsella</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/04.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i>25 Place De L Eglise,Marseille, France</a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$970
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/03.png" alt="">
                            <p class="mb-0">We all carry a lot of baggage, thanks to our upbringing.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mb-md-0">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/05.jpg" alt="#">
                          <div class="listing-favourite listing-like">
                            <i class="fa-solid fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">United States</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/05.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i>29 Cambridge Drive Atwater,ca, 95301 United States</a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$700
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/01.png" alt="">
                            <p class="mb-0">Step out on to the path to your left. Where there is no change.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/06.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">India</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/06.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i> 44 Kotkar Mandal Estate Off Are Road Goregaon, Mumbai, Mumbai, 400063, India  </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$850
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/02.png" alt="">
                            <p class="mb-0">Briefly imagine that you are not going to live and discover your unfulfilled dreams.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-tow" role="tabpanel" aria-labelledby="nav-tow-tab">
                  <div class="row">
                    {% for Package in package_type_2 %}
                    <div class="col-lg-4 col-md-6 mb-4 ">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="{{Package.main_image.url}}" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">{{Package.pname}}</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="{% static 'images/country-flags/06.jpg'%}" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"> 
                            <i class="fa fa-location-dot"></i>
                            {{Package.pdestination}} 
                          </a>
                          <br>
                            <i class="fa fa-hand-o-right"></i>
                            {{Package.ptype}}
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <!--<div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span>{{Package.ptype}}</span>
                              </div>-->
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">Rs{{Package.amount}}</span>Rs.{{Package.offer_amount}}
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="{% static 'images/listing-brand/01.png'%}" alt="">
                            <p class="mb-0">{{Package.pdetail}}</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!--<div class="col-lg-4 col-md-6 mb-4 ">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/02.jpg" alt="#">
                          <div class="listing-favourite listing-like">
                            <i class="fa-solid fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">United Kingdom</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/02.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i>19 The Lindens,Grantham,England United Kingdom</a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$550
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/02.png" alt="">
                            <p class="mb-0">The bottom line is that we must shed the bad and replace with good beliefs.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div> -->
                    <!--<div class="col-lg-4 col-md-6 mb-4 ">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/03.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Rio</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/03.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i>Rua americo Piola,13- Horto Santo Antonio,Rio de Janeiro SP Brasil</a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">$399</span>$350
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/03.png" alt="">
                            <p class="mb-0">The price is something not necessarily defined as financial.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">
                  <div class="row">
                    {% for Package in package_type_3 %}
                    <div class="col-lg-4 col-md-6 mb-4 ">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="{{Package.main_image.url}}" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">{{Package.pname}}</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="{% static 'images/country-flags/06.jpg'%}" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"> 
                            <i class="fa fa-location-dot"></i>
                            {{Package.pdestination}} 
                          </a>
                          <br>
                            <i class="fa fa-hand-o-right"></i>
                            {{Package.ptype}}
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <!--<div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span>{{Package.ptype}}</span>
                              </div>-->
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through">Rs{{Package.amount}}</span>Rs.{{Package.offer_amount}}
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="{% static 'images/listing-brand/01.png'%}" alt="">
                            <p class="mb-0">{{Package.pdetail}}</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!--<div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mb-md-0">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/05.jpg" alt="#">
                          <div class="listing-favourite listing-like">
                            <i class="fa-solid fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">United States</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/05.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i>29 Cambridge Drive Atwater,ca, 95301 United States</a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$700
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/01.png" alt="">
                            <p class="mb-0">The bottom line is that we must shed the bad and replace with good beliefs.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>-->
                    <!--<div class="col-lg-4 col-md-6">
                      <div class="listing-item">
                        <div class="listing-image bg-overlay-half-bottom">
                          <img class="img-fluid" src="images/listing/06.jpg" alt="#">
                          <div class="listing-favourite">
                            <i class="fa-regular fa-heart"></i>
                          </div>
                        </div>
                        <div class="listing-details">
                          <div class="listing-title d-flex justify-content-between">
                            <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">India</a></h5>
                            <div class="country-flags">
                              <img class="img-fluid shadow-sm" src="images/country-flags/06.jpg" alt="#">
                            </div>
                          </div>
                          <a href="#" class="listing-loaction"><i class="fa fa-location-dot"></i> 44 Kotkar Mandal Estate Off Are Road Goregaon, Mumbai, Mumbai, 400063, India </a>
                          <div class="listing-rating d-flex justify-content-between">
                            <div class="d-flex">
                              <div class="date me-3">
                                <i class="fa-regular fa-calendar-days me-2"></i><span> Day </span>
                              </div>
                              <div class="rating">
                                <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                              </div>
                            </div>
                            <div class="price">
                              <span class="text-decoration-line-through"></span>$850
                            </div>
                          </div>
                          <div class="listing-info">
                            <img class="img-fluid" src="images/listing-brand/02.png" alt="">
                            <p class="mb-0">Briefly imagine that you are not going to live and discover your unfulfilled dreams.</p>
                          </div>
                          <a href="tour-detail.html" class="btn btn-link">See Details</a>
                        </div>
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Tour Grid -->
      <!--=================================
      Counter -->
      <!--<section class="space-ptb bg-holder" style="background-image: url(./images/bg/05.jpg);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 align-self-center mb-4 mb-sm-5 mb-xl-0">
              <img class="img-fluid" src="images/about/03.png" alt="#">
            </div>
            <div class="col-xl-7">
              <div class="section-title mb-4">
                <div class="sub-title"><img  class="img-fluid" src="images/title-icon.png" alt="#"><span>Experience The World</span></div>
                <h2 class="title">The Travel <strong>Experience !</strong></h2>
                <p class="mb-0">What will life be like in 10 years time? Step out, every step you take you get older, days pass, weeks pass.</p>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="listing-item listing-item-3 mb-4 mb-md-0">
                    <div class="listing-image">
                      <img class="img-fluid" src="images/listing/07.jpg" alt="#">
                    </div>
                    <div class="listing-details">
                      <div class="listing-title d-flex justify-content-between">
                        <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Maldives</a></h5>
                        <div class="country-flags">
                          <img class="img-fluid shadow-sm" src="images/country-flags/07.jpg" alt="#">
                        </div>
                      </div>
                      <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i> B81,Ambatenna,Kandy District,Sri Lanka </a>
                      <div class="listing-rating d-flex justify-content-between">
                        <div class="d-flex">
                          <div class="rating">
                            <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                          </div>
                        </div>
                        <div class="price">
                          <span class="text-decoration-line-through">$899</span>$700
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="listing-item listing-item-3">
                    <div class="listing-image">
                      <img class="img-fluid" src="images/listing/08.jpg" alt="#">
                    </div>
                    <div class="listing-details">
                      <div class="listing-title d-flex justify-content-between">
                        <h5 class="mb-0"><a href="tour-detail.html" class="title mb-0">Bali</a></h5>
                        <div class="country-flags">
                          <img class="img-fluid shadow-sm" src="images/country-flags/08.jpg" alt="#">
                        </div>
                      </div>
                      <a href="#" class="listing-loaction"> <i class="fa fa-location-dot"></i> F.m.s. Waquf Estate Building,South Halishahar,Approach,,Indonesia </a>
                      <div class="listing-rating d-flex justify-content-between">
                        <div class="d-flex">
                          <div class="rating">
                            <i class="fa-solid fa-star me-1 text-yellow"></i><span>4.3 / 5</span>
                          </div>
                        </div>
                        <div class="price">
                          <span class="text-decoration-line-through">$899</span>$700
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-sm-6 col-md-4 mb-4 mb-md-0">
                  <div class="counter">
                    <span class="timer" data-to="20" data-speed="10000">20</span>
                    <span> + </span>
                    <label>Years <br>Exprience</label>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-md-0">
                  <div class="counter">
                    <span class="timer" data-to="460" data-speed="10000">460</span>
                    <span> + </span>
                    <label>Destionation <br>Collaboration</label>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
                  <div class="counter">
                    <span class="timer" data-to="50" data-speed="10000">50</span>
                    <span> k+ </span>
                    <label>Happy <br>Customer</label>
                  </div>
                </div>
              </div>
              <div class="row mt-4 mt-md-5">
                <div class="col-md-12">
                  <div class="d-sm-flex align-items-center">
                    <div class="me-3 mb-4 mb-sm-0">
                      <a href="about-us.html" class="btn btn-primary">Read More</a>
                    </div>
                    <div class="video-box d-flex align-items-center">
                      <img class="img-fluid rounded-circle" src="images/video-img.png" alt="#">
                      <div class="video-icon video d-flex align-items-center">
                        <a class="d-flex align-items-center popup-youtube" href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i class="fa-solid fa-play"></i><h6 class="mb-0 fw-medium">Watch Our Tour</h6></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>-->
      <!--=================================
      Counter -->
      <!--=================================
      Testimonial Style 02 -->
      <section class="space-ptb perfect-tour bg-holder" style="background-image: url({% static './images/bg/map-bg.png'%});">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-7">
              <div class="section-title">
                <div class="sub-title"><img  class="img-fluid" src="{% static 'images/title-icon.png'%}" alt="#"><span>TESTIMONIAL</span></div>
                <h2 class="title">What Our <strong>Happy Clients say about us</strong></h2>
                <div class="description mb-4">
                  <p>Figure out what you want, put a plan together to achieve it, understand the cost, believe in yourself then go and get it!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="owl-carousel owl-nav-bottom-center owl-dots-bottom-center" data-nav-dots="true" data-nav-arrow="true" data-items="3" data-lg-items="2" data-md-items="1" data-sm-items="1"  data-space="30" data-autoheight="false">
              {% for Testimonial in Testimonials %}
              <div class="item">
                <div class="testimonial testimonial-style-2">
                  <div class="testimonial-quote-icon">
                    <img class="img-fluid" src="{% static 'images/testimonial/quote-light.svg'%}" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p class="mb-0"><i>{{Testimonial.testimonial.feedback}}</i> </p>
                  </div>
                  <div class="testimonial-author d-flex align-items-center">
                    <div class="testimonial-avatar avatar">
                      <img class="img-fluid rounded-circle" src="{% static 'images/avatar/01.jpg'%}" alt="">
                    </div>
                    <div class="testimonial-name d-flex align-items-center">
                      <h6 class="author-tittle">{{Testimonial.testimonial.user}}</h6>
                      <span>{{Testimonial.testimonial.package.pname}}</span>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              
              
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Testimonial Style 02 -->
      <!--=================================
      Destination Trips -->
      <!--<section class="destination-trips-main">
        <div class="container-fluid p-0">
          <div class="row g-0">
            <div class="col-md-12">
              <div class="destination-trips-main">
                <div class="destination-trips-content">
                  <div class="content">
                    <img class="img-fluid" src="images/logo-light.svg" alt="">
                    <h5 class="text-white my-4 py-2">The Perfect Holiday Tour Plan</h5>
                    <a href="#" class="btn btn-link text-white"> View All Tour </a>
                  </div>
                </div>
                <div class="owl-carousel owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="true" data-items="6" data-xl-items="5" data-lg-items="4" data-md-items="3" data-sm-items="3" data-xs-items="2"  data-space="0" data-autoheight="true">
                  <div class="item">
                    <div class="destination-trips-item trips-style-2">
                      <div class="trips-img">
                        <img class="img-fluid" src="images/destination/28.jpg" alt="#">
                        <div class="video">
                          <a class="popup-youtube"  href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="trips-content">
                          <div class="rating">
                            <ul class="list-unstyled d-flex mb-2">
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star-half-stroke"></i></a></li>
                            </ul>
                          </div>
                          <h6 class="mb-0"><a class="trips-title" href="tour-detail.html">Sailing</a></h6>
                          <a class="trips-price" href="pricing-plan.html">$150</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="destination-trips-item trips-style-2">
                      <div class="trips-img">
                        <img class="img-fluid" src="images/destination/29.jpg" alt="#">
                        <div class="video">
                          <a class="popup-youtube"  href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="trips-content">
                          <div class="rating">
                            <ul class="list-unstyled d-flex mb-2">
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                            </ul>
                          </div>
                          <h6 class="mb-0"><a class="trips-title" href="tour-detail.html">Adventure Camping</a></h6>
                          <a class="trips-price" href="pricing-plan.html">$700</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="destination-trips-item trips-style-2">
                      <div class="trips-img">
                        <img class="img-fluid" src="images/destination/30.jpg" alt="#">
                        <div class="video">
                          <a class="popup-youtube"  href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="trips-content">
                          <div class="rating">
                            <ul class="list-unstyled d-flex mb-2">
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star-half-stroke"></i></a></li>
                            </ul>
                          </div>
                          <h6 class="mb-0"><a class="trips-title" href="tour-detail.html">Camping</a></h6>
                          <a class="trips-price" href="pricing-plan.html">$350</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="destination-trips-item trips-style-2">
                      <div class="trips-img">
                        <img class="img-fluid" src="images/destination/31.jpg" alt="#">
                        <div class="video">
                          <a class="popup-youtube"  href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="trips-content">
                          <div class="rating">
                            <ul class="list-unstyled d-flex mb-2">
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                            </ul>
                          </div>
                          <h6 class="mb-0"><a class="trips-title" href="tour-detail.html">Road Trip</a></h6>
                          <a class="trips-price" href="pricing-plan.html">$550</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="destination-trips-item trips-style-2">
                      <div class="trips-img">
                        <img class="img-fluid" src="images/destination/32.jpg" alt="#">
                        <div class="video">
                          <a class="popup-youtube"  href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="trips-content">
                          <div class="rating">
                            <ul class="list-unstyled d-flex mb-2">
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star-half-stroke"></i></a></li>
                            </ul>
                          </div>
                          <h6 class="mb-0"><a class="trips-title" href="tour-detail.html">Adventure</a></h6>
                          <a class="trips-price" href="pricing-plan.html">$750</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="destination-trips-item trips-style-2">
                      <div class="trips-img">
                        <img class="img-fluid" src="images/destination/33.jpg" alt="#">
                        <div class="video">
                          <a class="popup-youtube"  href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="trips-content">
                          <div class="rating">
                            <ul class="list-unstyled d-flex mb-2">
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star-half-stroke"></i></a></li>
                            </ul>
                          </div>
                          <h6 class="mb-0"><a class="trips-title" href="tour-detail.html">Switzerland Snow Bord</a></h6>
                          <a class="trips-price" href="pricing-plan.html">$800</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="destination-trips-item trips-style-2">
                      <div class="trips-img">
                        <img class="img-fluid" src="images/destination/31.jpg" alt="#">
                        <div class="video">
                          <a class="popup-youtube"  href="https://www.youtube.com/watch?v=LgvseYYhqU0"><i class="fa-solid fa-play"></i></a>
                        </div>
                        <div class="trips-content">
                          <div class="rating">
                            <ul class="list-unstyled d-flex mb-2">
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                              <li><a href=""><i class="fa-solid fa-star"></i></a></li>
                            </ul>
                          </div>
                          <h6 class="mb-0"><a class="trips-title" href="tour-detail.html">Road Trip</a></h6>
                          <a class="trips-price" href="pricing-plan.html">$550</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
        <!--=================================
        Destination Trips -->
        <!--=================================
        Blog -->
        <section class="space-ptb">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="section-title mb-5 text-center">
                  <div class="sub-title justify-content-center"><img  class="img-fluid" src="{% static 'images/title-icon.png'%}" alt=""><span>Our blog</span></div>
                  <h2 class="title">Read what we <strong>say in our blog</strong></h2>
                  <p>Focus is having the unwavering attention to complete what you set out to do. There are a million distractions in every facet of our lives.</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              {% for pos in post %}
              <div class="col-sm-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="blog">
                  <div class="blog-img">
                    <img  class="img-fluid rounded" src="{% static 'images/blog/01.jpg'%}" alt="">
                  </div>
                  <div class="blog-body d-flex align-items-center">
                    <div class="time-card me-3">
                      <img class="img-fluid rounded me-2" src="{% static 'images/on-time.svg'%}" alt="">
                      <!--  <i class="fa-regular fa-calendar-days me-2"></i>on-time -->
                      <span>{{pos.published_date}}</span>
                    </div>
                    <div class="user d-flex align-items-center me-3">
                      <div class="user-img me-2"><img  class="img-fluid" src="{% static 'images/avatar/01.jpg'%}" alt=""></div>
                      <span>{{pos.author}}</span>
                    </div>
                    <!--<div class="comment d-flex align-items-center">
                      <i class="fa-regular fa-comment me-2"></i>
                      25
                    </div>-->
                  </div>
                  <a href="blog-single.html">{{pos.title}}.</a>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="row mt-4 mt-md-5">
              <div class="col-12">
                <hr>
                <ul class="list-unstyled text-center d-md-flex align-items-center justify-content-center pt-3 mt-md-5 mb-0">
                  <li class="mt-md-0 mx-0 mx-md-4">We have articles on a range of topics</li>
                  <li class="mx-0 mx-md-4 mt-3 mt-md-0"><a href="blog-standard.html" class="btn btn-primary">View all blogs</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!--=================================
        Blog -->
        <!--=================================
        Blog -->
        <!--<section class="space-pb">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="section-title mb-5 text-center">
                  <div class="sub-title justify-content-center"><img  class="img-fluid" src="images/title-icon.png" alt=""><span>Let’s plan the trip of your dreams</span></div>
                  <h2 class="title">Your <strong>Tour Plan</strong></h2>
                  <p>Let success motivate you. Find a picture of what epitomizes success to you and then pull it out when you are in need.</p>
                </div>
              </div>
            </div>
            <div class="map-listing" style="background: url(images/bg/08.png) no-repeat; background-position: center center; background-size: cover;">
              <div class="row">
                <div class="col-md-12">
                  <div class="map-icon icon-01">
                    <div class="contant">
                      <div class="icon">
                        <div class="map-img">
                          <img class="img-fluid" src="images/destination/35.jpg" alt="">
                          <div class="pt-2">
                            <h6 class="mb-0">Canada</h6>
                            <p class="mb-0 font-sm">Lorem ipsum dolor sit amet,</p>
                          </div>
                        </div>
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                    </div>
                  </div>
                  <div class="map-icon icon-02">
                    <div class="contant">
                      <div class="icon">
                        <div class="map-img">
                          <img class="img-fluid" src="images/destination/36.jpg" alt="">
                          <div class="pt-2">
                            <h6 class="mb-0">Africa</h6>
                            <p class="mb-0 font-sm">Lorem ipsum dolor sit amet,</p>
                          </div>
                        </div>
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                    </div>
                  </div>
                  <div class="map-icon icon-03">
                    <div class="contant">
                      <div class="icon">
                        <div class="map-img">
                          <img class="img-fluid" src="images/destination/05.jpg" alt="">
                          <div class="pt-2">
                            <h6 class="mb-0">Brazil</h6>
                            <p class="mb-0 font-sm">Lorem ipsum dolor sit amet,</p>
                          </div>
                        </div>
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                    </div>
                  </div>
                  <div class="map-icon icon-04">
                    <div class="contant">
                      <div class="icon">
                        <div class="map-img">
                          <img class="img-fluid" src="images/destination/04.jpg" alt="">
                          <div class="pt-2">
                            <h6 class="mb-0">India</h6>
                            <p class="mb-0 font-sm">Lorem ipsum dolor sit amet,</p>
                          </div>
                        </div>
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                    </div>
                  </div>
                  <div class="map-icon icon-05">
                    <div class="contant">
                      <div class="icon">
                        <div class="map-img">
                          <img class="img-fluid" src="images/destination/06.jpg" alt="">
                          <div class="pt-2">
                            <h6 class="mb-0">Australia</h6>
                            <p class="mb-0 font-sm">Lorem ipsum dolor sit amet,</p>
                          </div>
                        </div>
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                    </div>
                  </div>
                  <div class="map-icon icon-06">
                    <div class="contant">
                      <div class="icon">
                        <div class="map-img">
                          <img class="img-fluid" src="images/destination/34.jpg" alt="">
                          <div class="pt-2">
                            <h6 class="mb-0">China</h6>
                            <p class="mb-0 font-sm">Lorem ipsum dolor sit amet,</p>
                          </div>
                        </div>
                        <i class="fas fa-map-marker-alt"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>-->
        <!--=================================
        Blog -->
        <!--=================================
        feature -->
        <section class="feature-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 pb-4 pb-lg-0">
                <div class="feature-box bg-secondary rounded d-flex align-items-center justify-content-between">
                  <div class="icon-box d-flex align-items-center">
                    <img  class="img-fluid me-4 me-xl-5" src="{% static 'images/travel-icon.svg'%}" alt="">
                    <div class="box-conten py-sm-0 py-3">
                      <h6 class="text-white mb-3">Travel Plan</h6>
                      <p class="text-white mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                    </div>
                  </div>
                  <a href="#" class="btn btn-link text-white">See Plans <i class="fa-solid fa-right-long ps-3"></i></a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-box bg-primary rounded d-flex align-items-center justify-content-between">
                  <div class="icon-box d-flex align-items-center">
                    <img  class="img-fluid me-4 me-xl-5" src="{% static 'images/travel-icon.svg'%}" alt="">
                    <div class="box-conten py-sm-0 py-3">
                      <h6 class="text-white mb-3">Tours Supports</h6>
                      <p class="text-white mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                    </div>
                  </div>
                  <a href="#" class="btn btn-link text-white">See Plans <i class="fa-solid fa-right-long ps-3"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--=================================
        feature -->
        <!--=================================
        footer-->
        <footer class="footer footer-style-03 bg-holder" style="background-image: url({% static './images/bg/06.jpg'%}); ">
          <div class="min-footer">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-md-3 col-lg-2 mb-4 mb-md-0">
                  <a class="footer-logo" href="home">
                    <img class="img-fluid" src="{% static 'images/logo.png'%}" alt="logo">
                  </a>
                </div>
                <div class="col-md-5 col-lg-5 mb-4 mb-md-0">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
                <div class="col-md-4 col-lg-5">
                  <div class="social-icon space-right">
                    <ul>
                      <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="b-bottom"></div>
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                  <h6 class="footer-title fw-600">Our Newsletter</h6>
                  <p class="mb-4">Sign Up to our Newsletter to get the latest news and offers.</p>
                  <form class="mb-0">
                    <input type="email" class="form-control border-0" placeholder="Your Email">
                    <button type="submit" class="btn btn-primary">Get Notified</button>
                  </form>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <h6 class="footer-title fw-600">Quick Link</h6>
                  <div class="footer-menu dark-text">
                    <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="tour-search.html">Tours</a></li>
                      <li><a href="destination.html">Destinations</a></li>
                      <li><a href="blog-standard.html">Blog</a></li>
                      <li><a href="shop.html">Shop</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <h6 class="footer-title fw-600">Support</h6>
                  <div class="footer-menu dark-text">
                    <ul>
                      <li><a href="terms-and-conditions.html">Terms of Use</a></li>
                      <li><a href="privacy-policy.html">Privacy Policy</a></li>
                      <li><a href="faq.html">FAQs</a></li>
                      <li><a href="pricing-plan.html">Pricing & Plan</a></li>
                      <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
                  <div class="footer-link">
                    <h6 class="footer-title fw-600">Contact Travel</h6>
                    <div class="footer-contact-info">
                      <ul class="list-unstyled mb-0">
                        <li><img class="img-fluid" src="{% static 'images/address.png'%}" alt=""><span class="address">17504 Carlton Cuevas Rd, Gulfport, MS, 39503</span></li>
                        <li><img class="img-fluid" src="{% static 'images/phone.png'%}" alt=""><span class="phone">+(704) 279-1249</span></li>
                        <li><img class="img-fluid" src="{% static 'images/email.png'%}" alt=""><span class="email">letstalk@Ciyatrip.com</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center copyright text-center mt-4 mt-md-5">
                <div class="col-12">
                  <p class="mb-0 text-dark"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="index.html"> Ciyatrip </a> All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!--=================================
        footer-->
        <!--=================================
        Back To Top-->
        <div id="back-to-top" class="back-to-top">
          <a href="#"><i class="fas fa-angle-up"></i></a>
        </div>
        <!--=================================
        Back To Top-->
        <!--=================================
        Javascript -->
        <!-- JS Global Compulsory (Do not remove)-->
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/jquery.appear.js' %}"></script>
        <script src="{% static 'js/popper/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
        <script src="{% static 'js/select2/select2.full.js' %}"></script>
        <script src="{% static 'js/datetimepicker/moment.min.js' %}"></script>
        <script src="{% static 'js/datetimepicker/datetimepicker.min.js' %}"></script>
        <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/swiper/swiper.min.js' %}"></script>
        <script src="{% static 'js/swiperanimation/SwiperAnimation.min.js' %}"></script>
        <script src="{% static 'js/range-slider/ion.rangeSlider.min.js' %}"></script>
        <script src="{% static 'js/countdown/jquery.downCount.js' %}"></script>
        <script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <!-- Template Scripts (Do not remove)-->
        <script src="{% static 'js/custom.js' %}"></script>
      </body>
    </html>
